.btn-action {
    font-family: 'Raleway-Bold';
    font-weight: 500;
    font-size: 16px;
    color: #2E2E2E;
    padding: 15px 60px;
    border: 2px solid #B0D56A;
    border-radius: 1px;
    box-shadow: 0px 10px 30px rgba(67, 67, 67, 0.3);
    transition: 0.4s;
    cursor: pointer;
}

.btn-action:hover {
    border-color: #C01C3F;
    transition: 0.4s;
}