.catalog-main-section_ps {
    padding: 48px 0;
    background-image: url('../images/content/bg_1_catalog.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.catalog-main-section {
    width: 1046px;
    margin: 0 auto;
    text-align: center;
}

.catalog-main-section_title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #FFFFFF;
    line-height: 49px;
    margin-bottom: 30px;
}

.catalog-main-section_subtitle {
    font-family: 'Raleway-Regular';
    font-size: 16px;
    color: #fff;
    line-height: 19px;
}