.clients {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    margin-top: 180px;
    @include min-desc(){
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
    }
}

.clients_text {
    width: 49%;
    height: 200px;
    border-left: 5px solid #B0D56A;
    border-bottom: 5px solid #B0D56A;

    @include min-desc(){
        width: 45%;
        height: 60px;
        border-left: none;
        margin-bottom: 30px;
    }

    @include pretablet(){
        width: 70%;
    }
    @include mobile(){
        width: 100%;
       }
}

.clients_text-title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #262626;
    text-align: right;
    @include min-desc(){
        text-align: center;
    }
    @include minphone(){
        font-size: 28px;
    }
}

.clients_list {
    width: 70%;
    height: 248px;
    padding-left: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-top: -85px;
    @include min-desc(){
        margin: 0;
        padding: 0;
    }
    @include mobile(){
        justify-content: center;
        height: auto;
       }
}

.clients_list-item {
    width: 150px;
    list-style-type: none;
    height: 100px;
    margin-right: 50px;
    @include pretablet(){
        margin: 0;
    }
    @include mobile(){
        margin-bottom: 10px;
    }
}

.clients_list-item:nth-child(3), .clients_list-item:nth-child(6) {
    margin-right: 0;
}