.content-main-section_ps {
    background-image: url('../images/content/Group 692.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    @include tablet(){
        padding: 30px;
    }
}



.content-main-section {
    width: 1046px;
    margin: 0 auto;
    text-align: center; 
    @include min-desc(){
        width: 650px;
    }
    @include tablet(){
        width: auto;
    }
}





.content-main-section_title {
    font-family: 'Raleway-Regular';
    font-size: 16px;
    color: #fff;
    line-height: 19px;
    margin-bottom: 30px;
}

.content-main-section_main-title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #fff;
    line-height: 49px;
    margin-bottom: 50px;
    @include mobile(){
        font-size: 28px;
        margin-bottom: 25px;
        line-height: 34px;
    }
}

.content-main-section_subtitle {
    font-family: 'Raleway-Regular';
    font-size: 16px;
    color: #fff;
    line-height: 19px;
}