.faq {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include min-desc(){
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
    }
}

.faq_form-wrapper {
    width: 577px;
    @include min-desc(){
        width: 100%;
    }
}

.faq_form-title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #2E2E2E;
    line-height: 49px;
    width: 407px;
    margin-bottom: 50px;
    @include min-desc(){
        font-size: 28px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    @include mobile(){
        width: auto;
        font-size: 28px;
    }
}

.faq_content {
    width: 574px;
    box-sizing: border-box;
    @include min-desc(){
        width: 100%;
        margin-top: 50px;
    }
}

.faq_content-title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #2E2E2E;
    line-height: 49px;
    margin-top: 50px;
    margin-bottom: 50px;
    @include min-desc(){
        text-align: center;
        font-size: 28px;
    }
}

.faq_list-item-content {
    margin-bottom: 20px;
    @include mobile(){
        margin-bottom: 15px;
    }
}

.faq_list-content-title {
    padding: 15px 50px;
    border-radius: 1px;
    background-color: #F7F6F6;
    font-family: 'Raleway-Light';
    color: #262626;
    transition: 0.4s;
    cursor: pointer;
    
}

.faq_list-content-title--active {
    background-color: #B0D56A;
}

.faq_list-content-text {
    font-family: 'Raleway-Regular';
    color: #929292;
    font-size: 16px;
    line-height: 30px;
    padding: 0;
    height: 0;
    overflow: hidden;
    background-color: rgba(132, 224, 143, 0.15);
    transition: 0.3s;
    @include mobile(){
        padding: 20px;
    }
}

.faq_list-content-text--active {
    height: auto;
    padding: 20px 50px;
    overflow: visible;
    transition: 0.3s;
}


.faq_form-wrapper {
    .form {
        padding: 50px;
        background-color: #F7F6F6;
        box-shadow: 0px 10px 30px rgba(55, 55, 55, 0.2);
        @include mobile(){
            padding: 30px;
        }
    }

    input {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 40px;
        border-color: transparent;
        margin-bottom: 30px;
        box-shadow: 0px 10px 30px rgba(55, 55, 55, 0.2);
    }

    textarea {
        width: 100%;
        min-height: 170px;
        box-sizing: border-box;
        padding: 20px 40px;
        border-color: transparent;
        margin-bottom: 30px;
        box-shadow: 0px 10px 30px rgba(55, 55, 55, 0.2);
        resize: none;
        margin-bottom: 50px;
    }
}


.faq_list-content-title:hover {
    background-color: #ECFAED;
    transition: 0.4s;
}