.features {
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 60px;
    @include min-desc(){
        width: 100%;
        padding: 0 30px;
        padding-bottom: 60px;
        box-sizing: border-box;
    }
}

.features_text-title {
    text-align: center;
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #262626;
    
    font-size: 28px;
    @include mobile(){
        font-size: 22px;
    }
}

.features_text-article {
    font-family: 'Raleway-Light';
    font-size: 16px;
    color: #262626;
    line-height: 30px;
    margin-bottom: 65px; 
    @include mobile(){
        font-size: 14px;
    }
}

.features_text-decor {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include min-desc(){
        justify-content: space-around;
    }
}

.features_decor-item {
    width: 260px;
    height: 160px;
    box-shadow: 0px 10px 30px rgba(55, 55, 55, 0.2);
    padding: 20px;
    padding-top: 40px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    top: 0;
    transition: 0.4s;
    @include min-desc(){
        margin-bottom: 65px;
    }
    @include mobile(){
        width: 80%;
    }
}

.features_decor-item:hover {
    top: -10px;
    box-shadow: 0px 20px 30px rgba(55, 55, 55, 0.2);
    transition: 0.4s;
}

.features_decor-item-img {
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
    background-color: #C01C3F;
}

.features_decor-item-img {
    background-position: center;
    background-repeat: no-repeat;
}

.features_decor-item:nth-child(1) .features_decor-item-img  {
    background-image: url('../images/icons/birthday-cake.png');
}

.features_decor-item:nth-child(2) .features_decor-item-img  {
    background-image: url('../images/icons/customer.png');
}

.features_decor-item:nth-child(3) .features_decor-item-img  {
    background-image: url('../images/icons/roll-paper.png');
}

.features_decor-item:nth-child(4) .features_decor-item-img  {
    background-image: url('../images/icons/towel.png');
}

.features_decor-item:nth-child(5) .features_decor-item-img  {
    background-image: url('../images/icons/museum.png');
}

.features_decor-item:nth-child(6) .features_decor-item-img  {
    background-image: url('../images/icons/stock.png');
}

.features_decor-item:nth-child(7) .features_decor-item-img  {
    background-image: url('../images/icons/man.png');
}

.features_decor-item:nth-child(8) .features_decor-item-img  {
    background-image: url('../images/icons/Group 690.png');
}

.features_decor-item:nth-child(1), .features_decor-item:nth-child(2), .features_decor-item:nth-child(3), .features_decor-item:nth-child(4) {
    margin-bottom: 115px;
    @include min-desc(){
        margin-bottom: 65px;
    }
}

.features_decor-item-text {
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 15px;
    color: #2E2E2E;
    line-height: 18px;
    margin: auto 0;
    @include mobile(){
        font-size: 18px;
    }
}