.footer_wrap {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    @include min-desc(){
        width: 100%;
        box-sizing: border-box;
        padding: 50px 30px;
    }
}

.footer {
    background-color: #F2F2F2;
}

.footer_description {
    font-family: 'Raleway-Regular';
    font-size: 18px;
    color: #2A2A2A;
    @include min-desc(){
        font-size: 12px;
    }
}

.footer_btn-up {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer_btn-up-text {
    font-family: 'Raleway-Bold';
    font-size: 16px;
    color: #2A2A2A;
    margin-right: 38px;
}

.footer_btn {
    width: 50px;
    height: 50px;
    border: 1px solid #B0D56A;
}

.footer_btn-up .a{
    transition: 0.3s;
}

.footer_btn-up:hover .a{
    fill: #fff;
    transition: 0.3s;
}

