.form-dez_wrap {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(247, 246, 246, 0.9);
    z-index: 999999999;
    display: flex;
    form {
        display: flex;
        flex-direction: column;
        input {
            padding: 20px 50px;
            border-color: transparent;
            box-shadow: 0px 10px 30px rgba(55, 55, 55, 0.2);
            margin-bottom: 30px;
            position: relative;
            width: 100%;
            box-sizing: border-box;
        }
        textarea {
            height: 100px;
            padding: 20px 50px;
            border-color: transparent;
            box-shadow: 0px 10px 30px rgba(55, 55, 55, 0.2);
            margin-bottom: 50px;
            box-sizing: border-box;
            resize: none;
            width: 100%;
            box-sizing: border-box;
        }
        button {
            border-color: transparent;
            width: max-content;
            font-family: 'Raleway-Bold';
            text-transform: uppercase;
            font-size: 16px;
            padding: 16px 70px;
            color: #fff;
            background: linear-gradient(135deg, rgba(192, 28, 63, 1) 0%,rgba(143,2,34,1) 44%,rgba(158, 20, 54, 1) 100%);
            margin: 0 auto;
            margin-bottom: 30px;
        }
        p {
            font-family: 'Raleway-Regular';
            font-size: 14px;
            color: #2E2E2E;
            text-align: center;
        }
    }
}

.form-dez_content {
    margin: auto;
    padding: 50px 150px;
    background-color: #F7F6F6;
    max-width: 760px;
    box-sizing: border-box;
}

.form-dez_title {
    text-align: center;
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    line-height: 49px;
    color: #2E2E2E;
    margin-bottom: 50px;
}

.form-dez_input-name {
    position: relative;
}

.form-dez_input-name::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    left: 20px;
    background-image: url('../images/icons/user.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.form-dez_input-num {
    position: relative;
}

.form-dez_input-num::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    left: 20px;
    background-image: url('../images/icons/phone-1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.form-dez_textarea {
    position: relative;
}

.form-dez_textarea::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 20px;
    left: 20px;
    background-image: url('../images/icons/comment.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}