.form-section {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    @include min-desc(){
        width: 100%;
    }
    
}



.form-section_bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/content/bg_3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 161%;
    filter: blur(10px);
    z-index: 1;
}

.form-section_ps {
    background-image: url('../images/content/bg_3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    @include min-desc(){
        box-sizing: border-box;
        padding: 100px 30px;
    }
}


.form {
    position: relative;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 100px 40px 100px;
    @include mobile(){
       padding: 30px;
    }
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.form_input-wrap {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.form_input-wrap::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/user.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20px;
    left: 15px;
}

.form_input-wrap::before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/phone-1.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 22px;
    left: 15px;
}



.form_input {
    font-family: 'Raleway-Light';
    font-size: 14px;
    color: #6A6A6A;
    padding: 20px 40px;
    width: 100%;
    box-sizing: border-box;
}

.form_textarea-wrap {
    width: 50%;
    position: relative;
}

.form_textarea {
    font-family: 'Raleway-Light';
    font-size: 14px;
    color: #6A6A6A;
    padding: 20px 50px;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    resize: none;
    position: relative;
    
}

.form_textarea-wrap::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/comment.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20px;
    left: 15px;
}

@media screen and (max-width: 940px) {
    .form_input:nth-child(2) {
        margin-bottom: 0;
    }

    .form_textarea-wrap {
        width: 100%;
        margin-top: 30px;
    }
}

.from_title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #fff;
    text-align: center;
    width: 407px;
    margin: 0 auto;
    margin-bottom: 50px;
    @include min-desc(){
        font-size: 28px;
    }
    @include tablet(){
        width: auto;
        font-size: 28px;
    }
    @include mobile(){
        font-size: 22px;
    }
}

.form_btn-submit {
    width: 100%;
    margin-top: 50px;
    button {
        margin: 0 auto;
        display: block;
        border: none;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.16);
    }
}


.form_description {
    font-family: 'Raleway-Regular';
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}


@media screen and (max-width:940px) {
    .form_input-wrap {
        width: 100%;
    }

    .form_input {
        margin-bottom: 30px;
    }

    .form_textarea {
        width: 100%;
    }
}