.form-submit-btn {
    button {
        font-family: 'Raleway-Bold';
        text-transform: uppercase;
        font-size: 16px;
        color: #FFFFFF;
        border-color: transparent;
        background: linear-gradient(96deg, #C01C3F 0%, #9E1436 100%);
        padding: 16px 70px;
    }
}