.gallery_ps {
    @include min-desc(){
        background-image: url('../images/icons/Repeat Grid 12.svg');
        background-position: center;
        padding-top: 35px;
    }
}

.gallery_wrap {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    @include min-desc(){
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        flex-direction: column;
        margin-bottom: 35px;
    }
}

.gallery_title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #2E2E2E;
    line-height: 49px;
    margin: 0;
    @include min-desc(){
        margin-bottom: 30px;
        font-size: 28px;
    }
}

.gallery_tabs {
    @include min-desc(){
        width: 100%;
    }
}

.gallery_tabs-wrap {
    display: flex;
    padding: 0;
    margin: 0;
    @include min-desc(){
        justify-content: space-between;
    }
}

.gallery_tabs-item {
    list-style-type: none;
    font-family: 'Raleway-Bold';
    font-size: 16px;
    color: #262626;
    margin-left: 30px;
    
}

.gallery_tabs-wrap .gallery_tabs-item {
    @include min-desc(){
        margin-left: 0;
    }
}

.gallery_list {
    height: 300px;
    @include pretablet(){
       height: 200px;
    }
}

.gallery_list-wrap {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.gallery_list-item {
    list-style-type: none;
    max-width: 278px;
    max-height: 300px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

.gallery_list-item::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url('../images/icons/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    opacity: 0;
    transition: 0.4s;
}



.gallery_list-item:first-child {
    opacity: 0.2;
}

.gallery_list-item:last-child {
    margin-right: 0;
    opacity: 0.2;
}

.gallery_list-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.gallery_list-item:hover .gallery_list-img {
    filter: brightness(50%);
    transition: 0.4s;
}



.gallery_list-item:hover::after {
    opacity: 1;
    transition: 0.4s;
    cursor: pointer;
    pointer-events: none;
}