.main-slider {
    height: 100vh;
    margin-bottom: -40px;
    overflow: hidden;
    box-sizing: border-box;
}

.main-slider_wrap {
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.main-slider_wrap-item {
    display: flex;
    height: 100%;
    position: relative;
    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
}

.main-slider_item-content {
    margin: auto;
    width: 1170px;
    z-index: 999;
    @include min-desc(){
        width: 100%;
        padding: 0 120px;
        box-sizing: border-box;
    }

    @include tablet(){
        padding: 0 40px;   
    }
}

.main-slider_content-title {
    font-family: 'Raleway-Bold', sans-serif;
    color: #fff;
    font-size: 60px;
    width: 601px;
    margin-bottom: 25px;
    @include tablet(){
     font-size: 28px;
     width: 100%;   
    }
}

.main-slider_content-subtitle {
    font-family: 'Raleway-Regular', sans-serif;
    color: #fff;
    font-size: 35px;
    margin-bottom: 50px;
    @include min-desc(){
        width: 600px;
    }

    @include tablet(){
        width: 100%;
        font-size: 22px;
    }
}

.main-slider_item-control {
    position: absolute;
    right: 0;
    top: 45%;
    z-index: 999999;
    @include pretablet(){
        top: 65%;
    }
    @include minphone(){
        top: 75%;
    }
}

.main-slider_control-btn {
    width: 80px;
    height: 80px;
    background-color: #ffffffab;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    @include min-desc(){
        width: 54px;
        height: 54px;
    }
    span {
        margin: auto;
        width: 15px;
        height: 15px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        transition: 0.3s
    }
}

.main-slider_control-btn:hover {
    background-color: #9e1436ba;
    transition: 0.3s;
    
}

.main-slider_control-btn:hover span {
    border-color: #fff;
    transition: 0.3s
}



.main-slider_control-btn--prev {
    margin-left: 80px;
    @include min-desc(){
        margin-left: 54px;
    }
    span {
        transform: rotate(-135deg);
    }
}

.main-slider_control-btn--next {
    margin-right: 80px;
    @include min-desc(){
        margin-right: 54px;
    }
    span {
        transform: rotate(45deg);
    }
}