.map_title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #2E2E2E;
    margin: 100px 0;
    text-align: center;
    @include min-desc(){
        font-size: 28px;
        margin: 70px 0;
    }
}

.map_wrap {
    height: 500px;
    background: grey;
}

#map {
    height: 100%;
    width: 100%;
}