.nav_wrap {
    display: flex;
}

.nav_item {
    list-style-type: none;
    margin-right: 60px;
    padding: 10px 0;
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}

.nav_item:hover {
    border-color: #C01C3F;
    transition: 0.3s;
}

.nav_item:last-child {
    margin-right: 0px;
}

.main-page .nav_item-link {
    text-decoration: none;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
}

.nav_item-link {
    text-decoration: none;
    font-family: 'Raleway-Bold', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #2E2E2E;
}