.offer_ps {
    position: relative;
    overflow: hidden;
    padding: 60px 0;
    @include min-desc(){
        padding: 60px 30px;
    }

}

.offer {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 15px 30px rgba(67, 67, 67, 0.3);
    padding: 50px 97px 50px 73px;
    box-sizing: border-box;
    @include min-desc(){
        width: 100%;
        box-sizing: border-box;
        padding: 40px 30px 40px 30px;
    }
    @include pretablet(){
        flex-direction: column;
    }
}

.offer_text {
    @include pretablet(){
     margin: 40px 0;   
    }
}

.offer_text-title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #262626;
    width: 356px;
    margin-bottom: 30px;
    @include pretablet(){
     width: auto;   
     text-align: center;
    }
    @include minphone(){
        font-size: 22px;
    }

}

.offer_text-subtitle {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 20px;
    color: #262626;
    text-transform: uppercase;
    @include pretablet(){
     text-align: center;   
    }
    @include minphone(){
        font-size: 18px;
    }
}

.offer_btn {
    a {
        display: block;
        width: max-content;
    }
}