.partners {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    margin-top: 220px;
    @include min-desc(){
        width: 100%;
        box-sizing: border-box;
        padding: 0 30px;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 100px;
    }
}

.partners_ps {
    margin-bottom: 50px;
}

.partners_text {
    width: 40%;
    height: 200px;
    border-right: 5px solid #B0D56A;
    border-bottom: 5px solid #B0D56A;
    @include min-desc(){
        width: 45%;
        height: 60px;
        border-right: none;
        margin-bottom: 30px;
    }
    @include pretablet(){
        width: 70%;
    }
    @include mobile(){
        width: 100%;
       }
}

.partners_text-title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #262626;
    @include min-desc(){
        text-align: center;
    }
    @include minphone(){
        font-size: 28px;
    }
}

.partners_list {
    width: 50%;
    height: 248px;
    padding: 0;
    padding-right: 135px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-top: -85px;
    @include min-desc(){
        margin: 0;
        padding: 0;
        width: 70%;
    }
    @include mobile(){
        justify-content: center;
        height: auto;
       }
}

.partners_list-item {
    width: 150px;
    list-style-type: none;
    height: 100px;
    margin-right: 50px;
    @include pretablet(){
        margin: 0;
    }
    @include mobile(){
        margin-bottom: 10px;
    }
}

.partners_list-item:nth-child(3), .partners_list-item:nth-child(6) {
    margin-right: 0;
}