.product-catalog {
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
    @include min-desc(){
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
    }
}

.product-catalog_title {
    text-align: center;
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #2E2E2E;
    margin-bottom: 100px;
    @include min-desc(){
        margin-bottom: 30px;
    }
}

.product-catalog_list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    @include min-desc(){
        justify-content: space-around;
    }
}

.product-catalog_list-item {
    list-style-type: none;
    width: 287px;
    height: 300px;
    margin-bottom: 30px;
    border-left: 2px solid #fff;
    border-right: 3px solid #fff;
    @include min-desc(){
        width: 48%;
    }
}

.product-catalog_list-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.product-catalog_list-item:hover img {
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.4s;
}

.product-catalog_item-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.product-catalog_item-title {
    font-family: 'Raleway-Bold';
    font-size: 20px;
    color: #262626;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 40px;
    padding-right: 40px;
    height: 86px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -86px;
    transition: 0.4s;
}

.product-catalog_item-title:hover {
    background-color: rgba(255, 255, 255, 1);
    transition: 0.4s;
}