.section-bg_first {
    background-image: url('../images/content/bg_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-bg_second {
    background-image: url('../images/icons/Repeat Grid 12.svg');
    background-position: center;
    background-size: cover;
}