.service-description {
    width: 1170px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    @include min-desc(){
        width: 100%;
        padding: 0 30px;
        box-sizing: border-box;
        margin-top: 30px;
    }
}

.service-description_title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    color: #2E2E2E;
    line-height: 49px;
    text-align: center;
    margin-bottom: 50px;
    @include min-desc(){
        font-size: 28px;
        margin-bottom: 30px;
    }
}

.service-description_text {
    font-family: 'Raleway-Regular';
    font-size: 16px;
    color: #929292;
    line-height: 30px;
}