.main-page .social_item-link .a {
    fill: #fff;
    transition: 0.4s;
}

.social_item-link .a {
    fill: #000;
    transition: 0.4s;
}


.social_item-link:hover .a {
    fill: #C01C3F;
    transition: 0.4s;
}

.social_ps {
    @include tablet(){
        display: none;
    }
}

.social {
    display: flex;
    padding: 0;
}

.social_item {
    list-style-type: none;
    margin-right: 29px;

    svg {
        @include min-desc(){
            width: 25px;
            height: 25px;
        }
    }
}

.social_item:last-child {
    margin-right: 0;
}

