.why-we {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0;
}

.why-we_title {
    font-family: 'TrajanPro3-Regular';
    font-size: 35px;
    line-height: 50px;
    color: #262626;
    width: 400px;
}

.why-we_text {
    width: 590px;
    font-family: 'Raleway-Regular';
    font-size: 16px;
    line-height: 30px;
    color: #929292;
}