<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title О нас || Decor Textile
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css')
        link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css')
        link(rel='stylesheet' href='assets/styles/app.min.css')
    body
        .wrapper
            include ../includes/header.pug
            main.main   
                section.main-section_ps
                    include ../includes/about/_main-section.pug
                section.breadcrumbs_ps
                    include ../includes/_breadcrumbs.pug
                section.why-we_ps
                    include ../includes/about/_why-we.pug
                section.what-we_ps
                    include ../includes/about/_what-we.pug
                section.gallery_ps
                    include ../includes/_gallery.pug
                section.clients_ps
                    include ../includes/_clients.pug
                section.partners_ps
                    include ../includes/_partners.pug
                section.reviews_ps
                    include ../includes/_reviews.pug
                section.sertificate_ps
                    include ../includes/about/_sertificate.pug
                section.form-section_ps
                    include ../includes/_form.pug
            include ../includes/footer.pug


