<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title About || Decor Textile
    body
        .wrapper
            include ../includes/header.pug
            main.main   
                section.main-section_ps
                    include ../includes/about/_main-section.pug
                section.breadcrumbs_ps
                    include ../includes/_breadcrumbs.pug
                section.why-we_ps
                    include ../includes/about/_why-we.pug
                section.what-we_ps
                    include ../includes/about/_what-we.pug



