<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Каталог || Decor Textile
        link(rel='stylesheet' href='assets/styles/app.min.css')
    body
        .wrapper.catalog-page
            include ../includes/header.pug
            main.main
                section.catalog-main-section_ps
                    include ../includes/catalog/_catalog-main-section.pug
                section.breadcrumbs_ps
                    include ../includes/_breadcrumbs.pug
                section.services_ps
                    include ../includes/_services.pug
                section.catalog_ps
                    include ../includes/_catalog.pug
            include ../includes/footer.pug