<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Контакты || Decor Textile
    body
        .wrapper
            include ../includes/header.pug
            main.main
                section.main-section_ps
                    include ../includes/contact/_content-main-section.pug
                section.breadcrumbs_ps
                    include ../includes/_breadcrumbs.pug
                section.contact-date_ps
                    include ../includes/contact/_contact-date.pug 
                section.faq_ps
                    include ../includes/catalog/_faq.pug 
                section.map_ps
                    include ../includes/_map.pug
            include ../includes/footer.pug   