<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Decor Textile
    link(rel='stylesheet' href='assets/styles/app.min.css')
  body
    .wrapper.main-page
      include ../includes/header.pug
      main.main
        section.main-slider_ps
          include ../includes/_main-slider.pug
        .section-bg_first
          section.services_ps
            include ../includes/_services.pug
          section.features_ps
            include ../includes/_features.pug
        section.catalog_ps
          include ../includes/_catalog.pug
        .section-bg_second
          section.works_ps
            include ../includes/_works.pug
          section.offer_ps
            include ../includes/_offer.pug
        section.clients_ps
          include ../includes/_clients.pug
        section.partners_ps
          include ../includes/_partners.pug
        section.reviews_ps
          include ../includes/_reviews.pug
        section.form-section_ps
          include ../includes/_form.pug
      include ../includes/footer.pug
      







            


            
            