.contact-date
    .contact-date_wrap
        ul.contact-date_list
            li.contact-date_list-item
                .contact-date_item-img
                    img(src="assets/images/icons/phone_contact.svg", alt="contact img")
                .contact-date_item-text
                    .contact-date_item-title Номер телефона
                    .contact-date_item-content +38 042 555 66 88
            li.contact-date_list-item
                .contact-date_item-img
                    img(src="assets/images/icons/email.svg", alt="contact img")
                .contact-date_item-text
                    .contact-date_item-title Электронная почта
                    .contact-date_item-content textil@gmail.com
            li.contact-date_list-item
                .contact-date_item-img
                    img(src="assets/images/icons/location.svg", alt="contact img")
                .contact-date_item-text
                    .contact-date_item-title Адрес компании
                    .contact-date_item-content г.Город ул.Улица