.contact-date
    .contact-date_wrap
        ul.contact-date_list
            li.contact-date_list-item
                .contact-date_item-img
                    img(src="#", alt="contact img")
                .contact-date_item-text
                    .contact-date_item-title Номер телефона
                    .contact-date_item-content
            li.contact-date_list-item
                .contact-date_item-img
                    img(src="#", alt="contact img")
                .contact-date_item-text
                    .contact-date_item-title Электронная почта
                    .contact-date_item-content
            li.contact-date_list-item
                .contact-date_item-img
                    img(src="#", alt="contact img")
                .contact-date_item-text
                    .contact-date_item-title Адрес компании
                    .contact-date_item-content