.content-main-section
    .content-main-section_title КОНТАКТЫ
    .content-main-section_main-title Свяжитесь с нами
    .content-main-section_subtitle Мы с гордостью представляем нашу студию. Эти дизайн-проекты построены с использованием новейших технологий и лучших решений. Преимущества наших методов работы гарантируют качество на долгие годы