.sertificate
    h4.sertificate_title Наши сертификаты
    .sertificate_wrap
        ul.sertificate_list
            li.sertificate_list-item
                a(href="").sertificate_item-link
                    img(src="#", alt="sertificate")
            li.sertificate_list-item
                a(href="").sertificate_item-link
                    img(src="#", alt="sertificate")
            li.sertificate_list-item
                a(href="").sertificate_item-link
                    img(src="#", alt="sertificate")
            li.sertificate_list-item
                a(href="").sertificate_item-link
                    img(src="#", alt="sertificate")