.sertificate
    h4.sertificate_title Наши сертификаты
    .sertificate_wrap
        ul.sertificate_list
            li.sertificate_list-item
                a(href="assets/images/content/NoPath - Copy (44).png" data-fancybox="sertificate").sertificate_item-link
                    img(src="assets/images/content/NoPath - Copy (44).png", alt="sertificate")
                    .sertificate_item-text Сертификат №1
            li.sertificate_list-item
                a(href="assets/images/content/NoPath - Copy (159).png" data-fancybox="sertificate").sertificate_item-link
                    img(src="assets/images/content/NoPath - Copy (159).png", alt="sertificate")
                    .sertificate_item-text Сертификат №2
            li.sertificate_list-item
                a(href="assets/images/content/NoPath - Copy (160).png" data-fancybox="sertificate").sertificate_item-link
                    img(src="assets/images/content/NoPath - Copy (160).png", alt="sertificate")
                    .sertificate_item-text Сертификат №3
            li.sertificate_list-item
                a(href="assets/images/content/NoPath - Copy (44).png" data-fancybox="sertificate").sertificate_item-link
                    img(src="assets/images/content/NoPath - Copy (44).png", alt="sertificate")
                    .sertificate_item-text Сертификат №4