.what-we
    .what-we_info
        ul.what-we_info-wrap
            li.what-we_info-item
                .what-we_info-item-num 5237
                .what-we_info-item-text Проектов завершено
            li.what-we_info-item
                .what-we_info-item-num 20
                .what-we_info-item-text Лет в индустрии
            li.what-we_info-item
                .what-we_info-item-num 42
                .what-we_info-item-text Наград и сертификатов
            li.what-we_info-item
                .what-we_info-item-num 10 546
                .what-we_info-item-text Довольных клиентов
    .what-we_description
        .what-we_description-title Что мы сделали
        .what-we_description-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.