.catalog
    h4.catalog_title каталог продукции
    ul.catalog_wrap
        li.catalog_item
            a(href="product.html").catalog_item-link
                img(src="assets/images/content/IMG_1174.png", alt="catalog").catalog_item-img
                .catalog_item-text Шторы и гардины
        li.catalog_item
            a(href="product.html").catalog_item-link
                img(src="assets/images/content/Изображение 231.png", alt="catalog").catalog_item-img
                .catalog_item-text Карнизы и аксессуары
        li.catalog_item
            a(href="product.html").catalog_item-link
                img(src="assets/images/content/Mask Group 22.png", alt="catalog").catalog_item-img
                .catalog_item-text Текстиль для ресторанов
        li.catalog_item
            a(href="product.html").catalog_item-link
                img(src="assets/images/content/4t8g91nzBr0.png", alt="catalog").catalog_item-img
                .catalog_item-text Текстиль для гостиниц
        li.catalog_item
            a(href="product.html").catalog_item-link
                img(src="assets/images/content/IMG_0629 (2).png", alt="catalog").catalog_item-img
                .catalog_item-text Солнцезащита
        li.catalog_item
            a(href="product.html").catalog_item-link
                img(src="assets/images/content/NoPath - Copy (124).png", alt="catalog").catalog_item-img
                .catalog_item-text Униформа

