.clients
    .clients_text
        .clients_text-title Наши клиенты
    ul.clients_list
        li.clients_list-item
            img(src="#", alt="clients")
        li.clients_list-item
            img(src="#", alt="clients")
        li.clients_list-item
            img(src="#", alt="clients")
        li.clients_list-item
            img(src="#", alt="clients")
        li.clients_list-item
            img(src="#", alt="clients")
        li.clients_list-item
            img(src="#", alt="clients")