.clients
    .clients_text
        .clients_text-title Наши клиенты
    ul.clients_list
        li.clients_list-item
            img(src="assets/images/content/logo1.png", alt="clients")
        li.clients_list-item
            img(src="assets/images/content/min-1.png", alt="clients")
        li.clients_list-item
            img(src="assets/images/content/4.png", alt="clients")
        li.clients_list-item
            img(src="assets/images/content/3.png", alt="clients")
        li.clients_list-item
            img(src="assets/images/content/4.png", alt="clients")
        li.clients_list-item
            img(src="assets/images/content/logo1.png", alt="clients")