.features
    .features_text
        h2.features_text-title Студия текстильного дизайна
        p.features_text-article Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        a(href="about.html").link-btn.link-btn--position О НАС
        .features_text-decor
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text 20 лет опыта и работы
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text 2973 обслуженных клиентов
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text Более 8000 м ткани в наличии
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text Обновление коллекции каждые 2 недели
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text Ежегодное участие в выставках Heimtextil, Home textile
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text Прямые поставки с 23 европейских текстильных фабрик
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text Официальный представитель фирм-производителей карнизов, аксессуаров и солнцезащитных систем
            .features_decor-item
                .features_decor-item-img 
                .features_decor-item-text Более 3000 м профессионального столового белья в наличии