.features
    .features_content
        img(src="#", alt="features").features_content-img
        .features_content-decor
            img(src="#", alt="decor")
        .features_content-decor
            img(src="#", alt="decor")
    .features_text
        h2.features_text-title Студия дизайна текстиля
        p.features_text-article Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        a.link-btn О НАС
        .features_text-decor
            .features_decor-item
                .features_decor-item-num 5000
                .features_decor-item-text УСТАНОВЛЕНЫХ КАРНИЗОВ 
            .features_decor-item
                .features_decor-item-num 3256
                .features_decor-item-text ДИЗАЙН ПРОЕКТОВ
            .features_decor-item
                .features_decor-item-num 287
                .features_decor-item-text ДОВОЛЬНЫХ КЛИЕНТОВ