.form-section
    .form
        .from_title Оставьте заявку на вызов дизайнера
        form(action="#", method="post")
            .form_input-wrap
                input(type="text" placeholder="Ваше имя").form_input
                input(type="text" placeholder="+380 (__) ___ __ __").form_input
            textarea(name="" placeholder="Напишите, что вас интересует").form_textarea
            .form_btn-submit
                button(type="submit").link-btn ОТПРАВИТЬ
            .form_description *Ваши персональные данные не будут переданы третьим лицам