.gallery
    .gallery_wrap
        h4.gallery_title Портфолио работ
        .gallery_tabs
            ul.gallery_tabs-wrap
                li.gallery_tabs-item.works_tabs-item-link Гостинная
                li.gallery_tabs-item.works_tabs-item-link Детская
                li.gallery_tabs-item.works_tabs-item-link Кухня
                li.gallery_tabs-item.works_tabs-item-link Спальня
                li.gallery_tabs-item.works_tabs-item-link Ткани
                li.gallery_tabs-item.works_tabs-item-link Покрывала и подушки
    .gallery_list
        ul.gallery_list-wrap
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/54801900.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/Group 506.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/35647719.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/54801900.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/Group 506.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/35647719.png", alt="gallery").gallery_list-img