.gallery
    .gallery_wrap
        h4.gallery_title Портфолио работ
        .gallery_tabs
            ul.gallery_tabs-wrap
                li.gallery_tabs-item Гостинная
                li.gallery_tabs-item Детская
                li.gallery_tabs-item Кухня
                li.gallery_tabs-item Спальня
                li.gallery_tabs-item Ткани
                li.gallery_tabs-item Покрывала и подушки
    .gallery_list
        ul.gallery_list-wrap
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/54801900.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/Group 506.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/35647719.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/54801900.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/Group 506.png", alt="gallery").gallery_list-img
            li.gallery_list-item
                a.gallery_list-link(href="#")
                    img(src="assets/images/content/35647719.png", alt="gallery").gallery_list-img