.form
    .form-wrap
        form(action="#", method="post")
            input(type="text", placeholder="Ваше имя")
            input(type="text", placeholder="+380 (__) ___ __ __")
            textarea(name="", placeholder="Напишите, что Вас интересует")
            .form_wrap-second
                .form-submit-btn
                    button(type="submit") Отправить
                p *Ваши персональные данные не будут переданы третьим лицам