.main-slider
    ul.main-slider_wrap
        li.main-slider_wrap-item
            img(src="#", alt="slide")
            .main-slider_item-content
                .main-slider_content-title Текстильный дизайн вашего интерьера
                .main-slider_content-subtitle Изысканность и завершенность вашего интерьера
                a(href="#").link-btn ВЫЗОВ ДИЗАЙНЕРА
            .main-slider_item-control
                .main-slider_control-btn.main-slider_control-btn--prev
                .main-slider_control-btn.main-slider_control-btn--next

