nav.nav
    ul.nav_wrap
        li.nav_item
            a(href="index.html").nav_item-link ГЛАВНАЯ
        li.nav_item
            a(href="about.html").nav_item-link О НАС
        li.nav_item
            a(href="catalog.html").nav_item-link КАТАЛОГ
        li.nav_item
            a(href="contact.html").nav_item-link КОНТАКТЫ
        li.nav_item
            a(href="#").nav_item-link ВАКАНСИИ