.offer
    .offer_decor
        img(src="#", alt="offer")
    .offer_text
        .offer_text-title Акция для новых клиентов
        .offer_text-subtitle ОСТАВЬ ЗАЯВКУ И ПОЛУЧИ СКИДКУ 1000 грн
    .offer_btn
        a(href="#").link-btn ПОЛУЧИТЬ СКИДКУ