.offer-form
    .offer_decor
        img(src="assets/images/icons/discount.svg", alt="offer")
    form(action="#", method="post")
        .offer-form_input-wrap
            .offer-form_input.offer-form_input--name
                input(type="text" placeholder="Ваше имя")
            .offer-form_input.offer-form_input--num
                input(type="text" placeholder="+380 (__) ___ __ __")
        .offer-form_btn
            button(type="submit") Отправить