.partners
    ul.partners_list
        li.partners_list-item
            img(src="assets/images/content/logo1.png", alt="clients")
        li.partners_list-item
            img(src="assets/images/content/min-1.png", alt="clients")
        li.partners_list-item
            img(src="assets/images/content/4.png", alt="clients")
        li.partners_list-item
            img(src="assets/images/content/3.png", alt="clients")
        li.partners_list-item
            img(src="assets/images/content/4.png", alt="clients")
        li.partners_list-item
            img(src="assets/images/content/logo1.png", alt="clients")
    .partners_text
        .partners_text-title Наши партнеры