.partners
    ul.partners_list
        li.partners_list-item
            img(src="#", alt="clients")
        li.partners_list-item
            img(src="#", alt="clients")
        li.partners_list-item
            img(src="#", alt="clients")
        li.partners_list-item
            img(src="#", alt="clients")
        li.partners_list-item
            img(src="#", alt="clients")
        li.partners_list-item
            img(src="#", alt="clients")
    .partners_text
        .partners_text-title Наши партнеры