.reviews
    .reviews_title Отзывы наших клиентов
    .btn-action ОСТАВИТЬ ОТЗЫВ
    .reviews_wrap
        ul.reviews_list
            li.reviews_list-item
                .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию...
                .reviews_item-user
                    .reviews_user-img
                        img(src="#", alt="avatar")
                    .reviews_user-info
                        .reviews_user-name Алла Пугачева
                        .reviews_user-desc владелец ресторана
            li.reviews_list-item
                .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию...
                .reviews_item-user
                    .reviews_user-img
                        img(src="#", alt="avatar")
                    .reviews_user-info
                        .reviews_user-name Алла Пугачева
                        .reviews_user-desc владелец ресторана
            li.reviews_list-item
                .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию...
                .reviews_item-user
                    .reviews_user-img
                        img(src="#", alt="avatar")
                    .reviews_user-info
                        .reviews_user-name Алла Пугачева
                        .reviews_user-desc владелец ресторана
            li.reviews_list-item
                .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию...
                .reviews_item-user
                    .reviews_user-img
                        img(src="#", alt="avatar")
                    .reviews_user-info
                        .reviews_user-name Анна Пугачева
                        .reviews_user-desc владелец ресторана
            li.reviews_list-item
                .reviews_item-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию...
                .reviews_item-user
                    .reviews_user-img
                        img(src="#", alt="avatar")
                    .reviews_user-info
                        .reviews_user-name Анна Пугачева
                        .reviews_user-desc владелец ресторана
                