ul.services
    li.services_item
        .services_item-content
            .services_content-text
                p Наши дизайнеры помогут воплотить в жизнь все Ваши идеи и задумки, сделать ваш интерьер неповторимым и запоминающимся
        .services_item-link
            a(href="service.html") Дизайн штор
    li.services_item
        .services_item-content
            .services_content-text
                p Мы выполняем оперативный пошив текстильных изделий для дома любой сложности
        .services_item-link
            a(href="service.html") Пошив штор
    li.services_item
        .services_item-content
            .services_content-text
                p Вы можете вызвать нашего дизайнера на дом. Мы разрабатываем дизайн-проекты в различных стилях
        .services_item-link
            a(href="service.html") Вызов дизайнера