ul.social
    li.social_item
        a(href="#").social_item-link.social_item-link--insta
            img(src="#", alt="social")    
    li.social_item
        a(href="#").social_item-link.social_item-link--fb
            img(src="#", alt="social")
    li.social_item
        a(href="#").social_item-link.social_item-link--telegram
            img(src="#", alt="social")