.works
    h4.works_title Наши работы
    .works_tabs-wrap
        ul.works_tabs
            li.works_tabs-item
                a(href="#").works_tabs-item-link Гостинная
            li.works_tabs-item
                a(href="#").works_tabs-item-link Детская
            li.works_tabs-item
                a(href="#").works_tabs-item-link Кухня
            li.works_tabs-item
                a(href="#").works_tabs-item-link Спальня
            li.works_tabs-item
                a(href="#").works_tabs-item-link Ткани
            li.works_tabs-item
                a(href="#").works_tabs-item-link Покрывала и подушки
    .works_gallery
        ul.works_gallery-wrap
            li.works_gallery-item
                a(href="assets/images/content/_MG_5989.png" data-fancybox="gallery_work")
                    img(src="assets/images/content/_MG_5989.png", alt="gallery")
            li.works_gallery-item
                a(href="assets/images/content/DSC00779.png" data-fancybox="gallery_work")
                    img(src="assets/images/content/DSC00779.png", alt="gallery")
            li.works_gallery-item
                a(href="assets/images/content/DSC00638.png" data-fancybox="gallery_work")
                    img(src="assets/images/content/DSC00638.png", alt="gallery")
            li.works_gallery-item
                a(href="assets/images/content/49742324.png" data-fancybox="gallery_work")
                    img(src="assets/images/content/49742324.png", alt="gallery")
            li.works_gallery-item
                a(href="assets/images/content/137.1.png" data-fancybox="gallery_work")
                    img(src="assets/images/content/137.1.png", alt="gallery")
            li.works_gallery-item
                a(href="assets/images/content/IMG_0469 (3).png" data-fancybox="gallery_work")
                    img(src="assets/images/content/IMG_0469 (3).png", alt="gallery")