footer.footer
    .footer_wrap
        .logo_footer-ps
            a.logo(href="#")
                img(src="assets/images/icons/logo_2.svg", alt="logo")
        .footer_description ©    2010-2018 Studio Decore Textile. Development by iTOP.media
        a(href="#").footer_btn-up 
            .footer_btn-up-text НАВЕРХ
            .footer_btn