footer.footer
    .logo_footer-ps
        include ../includes/_logo.pug
    .footer_description © 2010-2018 Studio Decore Textile. Development by iTOP.media
    .footer_btn-up 
        .footer_btn-up-text НАВЕРХ
        .footer_btn