footer.footer
    .footer_wrap
        .logo_footer-ps
            a.logo(href="#")
                img(src="assets/images/icons/logo_2.svg", alt="logo")
        .footer_description ©    2010-2018 Studio Decore Textile. Development by iTOP.media
        a(href="#").footer_btn-up 
            .footer_btn-up-text НАВЕРХ
            .footer_btn
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50"><defs><style>.a{fill:#b0d56a;}.b{fill:none;stroke:#262626;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><g transform="translate(-1415 -8029)"><rect class="a" width="50" height="50" rx="1" transform="translate(1415 8029)"/><path class="b" d="M14081.936,4700.591l-12.177-12.177-12.177,12.177" transform="translate(-12630.141 3359.43)"/></g></svg>
script(src='//code.jquery.com/jquery-3.3.1.min.js')
script(src='https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js')