.form-dez_wrap
    .form-dez_content
        .form-dez_title Оставьте заявку на вызов дизайнера
        form(action="#", method="post")
            .form-dez_input-name
                input(type="text" placeholder="Ваше имя")
            .form-dez_input-num
                input(type="text" placeholder="+380 (__) ___ __ __")
            .form-dez_textarea
                textarea(name="#" placeholder="Напишите, что вас интересует")
            button(type="submit") Отправить
            p Ваши персональные данные не будут переданы третьим лицам