header.header#header
    .header_wrap
        .logo_ps
            include ../includes/_logo.pug
        .nav_ps
            include ../includes/_nav-panel.pug
        .social_ps
            include ../includes/_social.pug
        .header-tel_ps
            include ../includes/_header-tel.pug
        .burger_ps
            include ../includes/_burger.pug