

$min-desc: 1170px; 

$pretablet: 900px;

$tablet: 768px;

$maxphone: 730px;

$phone: 500px;

$minphone: 450px;


@mixin min-desc {
    @media screen and (max-width:$min-desc) {
        @content;
    }
}

@mixin pretablet {
    @media screen and (max-width:$pretablet) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:$tablet) {
        @content;
    }
}

@mixin maxphone {
    @media screen and (max-width:$maxphone) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width:$phone) {
        @content;
    }
}

@mixin minphone {
    @media screen and (max-width:$minphone) {
        @content;
    }
}