.description-section
    .description-section_wrap
        .description-section_title
            h5 Дизайн штор
        .description-section_content
            .description-section_content-text Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
            .description-section_content-date
                .description-section_date-item
                    .description-section_item-num 5000
                    .description-section_item-text проектов
                .description-section_date-item
                    .description-section_item-num 3256
                    .description-section_item-text дизайнов
                .description-section_date-item
                    .description-section_item-num 287
                    .description-section_item-text клиентов 