.faq
    .faq_form-wrapper
        .faq_form-title Оставьте заявку на вызов дизайнера
        include ../_main-form.pug
    .faq_content
        .faq_content-title Остались вопросы?
        .faq_content-list
            .faq_list-item
                .faq_list-item-content
                    .faq_list-content-title Часто задаваемый вопрос
                    .faq_list-content-text Для нас не бывает неудобных вопросов! Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
            .faq_list-item
                .faq_list-item-content
                    .faq_list-content-title Часто задаваемый вопрос
                    .faq_list-content-text Для нас не бывает неудобных вопросов! Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
            .faq_list-item
                .faq_list-item-content
                    .faq_list-content-title Часто задаваемый вопрос
                    .faq_list-content-text Для нас не бывает неудобных вопросов! Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
            .faq_list-item
                .faq_list-item-content
                    .faq_list-content-title Часто задаваемый вопрос
                    .faq_list-content-text Для нас не бывает неудобных вопросов! Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.