.product-catalog
    .product-catalog_title Категории
    .product-catalog_wrap
        ul.product-catalog_list
            li.product-catalog_list-item
                .product-catalog_item-title Наматрасники
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Подушки
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Одеяла
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Покрывала
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Шторы и гардины
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Постельное белье
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Махра
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Миникосметика
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Униформа
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Матрасы для шезлонгов
                .product-catalog_item-img
                    img(src="#", alt="product")
            li.product-catalog_list-item
                .product-catalog_item-title Принадлежности для СПА
                .product-catalog_item-img
                    img(src="#", alt="product")