.product-catalog
    .product-catalog_title Категории
    .product-catalog_wrap
        ul.product-catalog_list
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog1.png", alt="product")
                a(href="#").product-catalog_item-title Наматрасники
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog2.png", alt="product")
                a(href="#").product-catalog_item-title Подушки
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog3.png", alt="product")
                a(href="#").product-catalog_item-title Одеяла
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog4.png", alt="product")
                a(href="#").product-catalog_item-title Покрывала
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog5.png", alt="product")
                a(href="#").product-catalog_item-title Шторы и гардины
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog6.png", alt="product")
                a(href="#").product-catalog_item-title Постельное белье
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog7.png", alt="product")
                a(href="#").product-catalog_item-title Махра
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog8.png", alt="product")
                a(href="#").product-catalog_item-title Миникосметика
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog9.png", alt="product")
                a(href="#").product-catalog_item-title Униформа
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog10.png", alt="product")
                a(href="#").product-catalog_item-title Матрасы для шезлонгов
            li.product-catalog_list-item
                .product-catalog_item-img
                    img(src="assets/images/content/catalog11.png", alt="product")
                a(href="#").product-catalog_item-title Принадлежности для СПА