.service-cta
    .service-cta_content
        .service-cta_content-title Закажите прямо сейчас
        .service-cta_content-text Зачем откладывать на потом то, что можно сделать сейчас. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
    include ../_main-form.pug 